<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="css/eui.css">
    <style>
        body {
            font: 18px "Microsoft YaHei UI";
            margin: 0;
        }
        header a {
            text-decoration: none;
            color: #6c6c6c;
        }
        header a:hover {
            color: #0aa1ed;
        }
        .el-table .el-table__cell {
            padding: 0;
        }
        .p_img:hover {
            position: relative;
            bottom: 5px;
            /*元素的阴影: x y 浓度 范围 颜色*/
            box-shadow: 0 0 10px 5px #333;
        }
        /*#top {
            overflow: hidden; !*超出部门隐藏*!
            white-space: nowrap; !*不换行*!
            text-overflow: ellipsis;
        }*/
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="padding: 0;height: 150px">
            <div style="width: 1200px;margin: 0 auto">
                <img src="imgs/logo.png" style="width: 300px;vertical-align: middle">
                <span>
                    <a href="">首页</a><el-divider direction="vertical"></el-divider>
                    <a href="">热点资讯</a><el-divider direction="vertical"></el-divider>
                    <a href="">商家入驻</a><el-divider direction="vertical"></el-divider>
                    <a href="">社会招聘</a><el-divider direction="vertical"></el-divider>
                    <a href="">校园招聘</a><el-divider direction="vertical"></el-divider>
                    <a href="">帮助中心</a>
                </span>
            </div>
            <!--蓝色导航条开始-->
            <div style="width: 100%;height: 60px;background-color: #82c8ec">
                <el-menu style="width: 1200px;margin: 0 auto"
                        class="el-menu-demo"
                        mode="horizontal"
                        @select="handleSelect"
                        background-color="#82c8ec"
                        text-color="#fff"
                        active-text-color="#fff">
                    <el-menu-item v-for="c in categoryArr" :index="c.id">{{c.name}}</el-menu-item>
                    <!--搜索框开始-->
                    <div style="float: right;margin-top: 15px">
                        <el-input size="mini" @keydown.native.enter="search()" v-model="wd" placeholder="请输入关键字搜索"></el-input>
                        <el-button style="position: absolute;right: 0;top: 11px;border: 0;background-color: rgba(0,0,0,0)" @click="search()" icon="el-icon-search"></el-button>
                    </div>
                    <!--搜索框结束-->
                </el-menu>
            </div>
            <!--蓝色导航条结束-->
        </el-header>
        <el-main style="width: 1200px;margin: 0 auto">
            <!--商品详情开始-->
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-card>
                        <img :src="product.url" width="100%" alt="">
                    </el-card>
                </el-col>
                <el-col :span="12">
                    <p style="font-size: 25px">{{product.title}}</p>
                    <el-divider></el-divider>
                    <p style="color: #999;font-size: 15px">
                        销量:{{product.saleCount}}
                        浏览量:{{product.viewCount}}<br>
                        发布于:{{product.created}}
                    </p>
                    <p style="font-size: 25px;font-weight: bold">
                        ￥{{product.price}}
                        <span style="font-size: 15px;color: #999">
                            原价:<s>{{product.oldPrice}}</s>
                        </span>
                    </p>
                    <!--二维码开始-->
                    <el-row gutter="20" style="text-align: center">
                        <el-col span="8">
                            <el-card>
                                <img src="imgs/ewm.jpg" width="100%" alt="">
                            </el-card>
                            <span>扫码购买商品</span>
                        </el-col>
                        <el-col span="8">
                            <el-card>
                                <img src="imgs/ewm.jpg" width="100%" alt="">
                            </el-card>
                            <span>扫码关注公众号</span>
                        </el-col>
                        <el-col span="8">
                            <el-card>
                                <img src="imgs/ewm.jpg" width="100%" alt="">
                            </el-card>
                            <span>扫码下载App</span>
                        </el-col>
                    </el-row>
                    <!--二维码结束-->
                </el-col>

            </el-row>
            <!--商品详情结束-->
        </el-main>
        <el-footer style="padding: 0">
            <div style="background-image: url('imgs/wave.png');height: 95px;margin-bottom: -30px"></div>
            <div style="background-color: #3f3f3f;height: 100px;font-size: 14px;
                color: #b1b1b1;text-align: center;padding: 30px">
                <p>Copyright © 北京达内金桥科技有限公司版权所有 京ICP备12003709号-3 京公网安备 11010802029572号</p>
                <p>涵盖20余门课程体系，致力于打造权威的IT职业教育学习平台</p>
                <p>达内在线WWW.TMOOC.CN 专注于IT职业技能培训</p>
            </div>
        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<!-- import JavaScript -->
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function() {
            return {
                categoryArr: [],
                wd:"",
                product:""
            }
        },
        created:function () {
            //自动发出请求获取所有分类信息
            axios.get("/category/select").then(function (response) {
                v.categoryArr = response.data;
            })
            //得到地址栏中商品id
            let id = location.search.split("=")[1];
            //通过id发送请求获取商品数据
            axios.get("/product/selectById?id="+id).then(function (response) {
                v.product = response.data;
            })
        },
        methods:{
            handleSelect(index) {
                console.log(index);
                //index为分类id
                location.href = "/result.html?cid="+index;
            },
            search() {
                //跳转到结果页面并且把搜索的关键字传递过去
                location.href = "/result.html?wd="+v.wd;
            }
        }
    })
</script>
</html>