<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tedu.mapper.ArticlesMapper">
    <resultMap id="BaseResultMap" type="cn.tedu.pojo.Articles">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="CHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--select属性: 指定要延迟调用哪个mapper文件中的哪个SQL语句-->
    <!--column属性: 指定要传递第一条SQL语句的中值到第二条SQL语句-->
    <resultMap id="a" type="cn.tedu.pojo.Articles" autoMapping="true">
        <association select="cn.tedu.mapper.UsersMapper.selectByPrimaryKey"
                     column="user_id"
                     property="users"
                     javaType="Users"
                     fetchType="lazy">

        </association>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from tb_articles
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="cn.tedu.pojo.Articles">
        insert into tb_articles (id, title, TYPE,
                                 content, STATUS, user_id,
                                 created_time, modified_time)
        values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=CHAR},
                #{content,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{userId,jdbcType=BIGINT},
                #{createdTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.tedu.pojo.Articles">
        update tb_articles
        set title         = #{title,jdbcType=VARCHAR},
            TYPE          = #{type,jdbcType=CHAR},
            content       = #{content,jdbcType=VARCHAR},
            STATUS        = #{status,jdbcType=CHAR},
            user_id       = #{userId,jdbcType=BIGINT},
            created_time  = #{createdTime,jdbcType=TIMESTAMP},
            modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" resultMap="a" parameterType="java.lang.Long">
        select id,
               title,
               TYPE,
               content,
               STATUS,
               user_id,
               created_time,
               modified_time
        from tb_articles
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jul 04 21:12:38 CST 2023.
        -->
        select id, title, TYPE, content, STATUS, user_id, created_time, modified_time
        from tb_articles
    </select>
    <select id="selectByUserId" resultMap="BaseResultMap">
        select id, title, TYPE, content, STATUS, user_id, created_time, modified_time
        from tb_articles where user_id = #{userId}
    </select>
</mapper>